
<div id="masthead">  
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          
          <h1>Storystrap&nbsp;<img src="logo.svg" >
            <p class="lead"></p>
          </h1>
        </div>
        <div class="col-md-5">
          <div class="well well-lg"> 
            <div class="row">
              <div class="col-sm-12">
                
              
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div><!-- /cont -->
    
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="top-spacer"> </div>
        </div>
      </div> 
    </div><!-- /cont -->
    
  </div>
  
  
  <div class="container">
    <div class="row">
      
      <div class="col-md-12"> 
        
        <div class="panel">
          <div class="panel-body">
            
            
            <section class="cards-wrapper">
              <div class="card-grid-space">
                <div class="num">01</div>
                <a class="card" href="login.html" style="--bg-img: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/html-syntax/cover.jpg)">
                  <div>
                    <h1>Repurpose Content to Reach a Wider Audience</h1>
                    <p>The syntax of a language is how it works. How to actually write it. Learn HTML syntax…</p>
                    <div class="date">17 hours ago</div>
                    <div class="tags">
                      <div class="tag">97thfloor.com</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="card-grid-space">
                <div class="num">02</div>
                <a class="card" href="#" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/basic-types-of-html-tags/cover.jpg')">
                  <div>
                    <h1>Basic types of HTML tags</h1>
                    <p>Learn about some of the most common HTML tags…</p>
                    <div class="date">2 days ago</div>
                    <div class="tags">
                      <div class="tag">devgarage.com</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="card-grid-space">
                <div class="num">03</div>
                <a class="card" href="#" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/links-images-about-file-paths/cover.jpg')">
                  <div>
                    <h1>Links, images and about file paths</h1>
                    <p>Learn how to use links and images along with file paths…</p>
                    <div class="date">14 Oct 2020</div>
                    <div class="tags">
                      <div class="tag">searchenginewatch.com</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="card-grid-space">
                <div class="num">04</div>
                <a class="card" href="#" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://bs-uploads.toptal.io/blackfish-uploads/uploaded_file/file/191791/image-1582329433118-623eeeb89c50ec545990667e9cbebb41.png')">
                  <div>
                    <h1>Links, images and about file paths</h1>
                    <p>Learn how to use links and images along with file paths…</p>
                    <div class="date">11 June 2020</div>
                    <div class="tags">
                      <div class="tag">searchenginewatch.com</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="card-grid-space">
                <div class="num">05</div>
                <a class="card" href="#" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://i.ytimg.com/vi/r56Tmwr6PAA/maxresdefault.jpg')">
                  <div>
                    <h1>Links, images and about file paths</h1>
                    <p>Learn how to use links and images along with file paths…</p>
                    <div class="date">14 Apr 2020</div>
                    <div class="tags">
                      <div class="tag">betali.st</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="card-grid-space">
                <div class="num">06</div>
                <a class="card" href="#" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/learn-html-book-mockup.png')">
                  <div>
                    <h1>Links, images and about file paths</h1>
                    <p>Learn how to use links and images along with file paths…</p>
                    <div class="date">10 July 2019</div>
                    <div class="tags">
                      <div class="tag">betali.st</div>
                    </div>
                  </div>
                </a>
              </div>
              <!-- https://images.unsplash.com/photo-1520839090488-4a6c211e2f94?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=38951b8650067840307cba514b554ba5&auto=format&fit=crop&w=1350&q=80 -->
            </section> 
          </div>
        </div>
        <div class="text-center">
        <div class="btn btn-primary ld-ext-right" onclick="this.classList.toggle('running')">Load More<div class="ld ld-ring ld-spin"></div></div>                                                                               
                                                 
                                                        
         </div><!--/col-12-->
    </div>
  </div>
                                                  
                                                                                  
  <hr>